In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import tensorflow as tf

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
df=pd.read_csv('/content/gdrive/MyDrive/Dataset/ddos_dataset_sdn.csv')
df

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,pktrate,Pairflow,Protocol,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label
0,11425,1,10.0.0.1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,...,451,0,UDP,3,143928631,3917,0,0.0,0.0,0
1,11605,1,10.0.0.1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,...,451,0,UDP,4,3842,3520,0,0.0,0.0,0
2,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,1,3795,1242,0,0.0,0.0,0
3,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,2,3688,1492,0,0.0,0.0,0
4,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,451,0,UDP,3,3413,3665,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104340,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,ICMP,1,15209,12720,1,1.0,2.0,0
104341,5262,3,10.0.0.5,10.0.0.7,79,7742,81,842000000,8.184200e+10,5,...,0,0,ICMP,3,15099,14693,1,1.0,2.0,0
104342,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,2,3409,3731,0,0.0,0.0,0
104343,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,1,15209,12720,1,1.0,2.0,0
104344,5262,3,10.0.0.11,10.0.0.5,31,3038,31,805000000,3.180500e+10,5,...,1,0,ICMP,3,15099,14693,1,1.0,2.0,0

In [5]:
#Handle null values
Mean = df.rx_kbps.mean()
Mean
df.rx_kbps = df.rx_kbps.fillna(Mean)

In [6]:
Mean = df.tot_kbps.mean()
Mean
df.tot_kbps = df.tot_kbps.fillna(Mean)

In [8]:
Nul = df.isnull().sum()

In [9]:
#One Hot Encoding
dummy_variables = pd.get_dummies(df['Protocol'],drop_first=True)
dummy_variables.head()
new_df=df.drop('Protocol',axis=1)
new_df.head()
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

,dt,switch,src,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,...,Pairflow,port_no,tx_bytes,rx_bytes,tx_kbps,rx_kbps,tot_kbps,label,TCP,UDP
0,11425,1,10.0.0.1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,...,0,3,143928631,3917,0,0.0,0.0,0,0,1
1,11605,1,10.0.0.1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,...,0,4,3842,3520,0,0.0,0.0,0,0,1
2,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,0,1,3795,1242,0,0.0,0.0,0,0,1
3,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,0,2,3688,1492,0,0.0,0.0,0,0,1
4,11425,1,10.0.0.2,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,...,0,3,3413,3665,0,0.0,0.0,0,0,1

In [10]:
dummy_variables = pd.get_dummies(df['src'],drop_first=True)
dummy_variables.head()
new_df=df.drop('src',axis=1)
new_df.head()
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

,dt,switch,dst,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,packetins,...,10.0.0.18,10.0.0.2,10.0.0.20,10.0.0.3,10.0.0.4,10.0.0.5,10.0.0.6,10.0.0.7,10.0.0.8,10.0.0.9
0,11425,1,10.0.0.8,45304,48294064,100,716000000,1.010000e+11,3,1943,...,0,0,0,0,0,0,0,0,0,0
1,11605,1,10.0.0.8,126395,134737070,280,734000000,2.810000e+11,2,1943,...,0,0,0,0,0,0,0,0,0,0
2,11425,1,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,1943,...,0,1,0,0,0,0,0,0,0,0
3,11425,1,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,1943,...,0,1,0,0,0,0,0,0,0,0
4,11425,1,10.0.0.8,90333,96294978,200,744000000,2.010000e+11,3,1943,...,0,1,0,0,0,0,0,0,0,0

In [11]:
dummy_variables = pd.get_dummies(df['dst'],drop_first=True)
dummy_variables.head()
new_df=df.drop('dst',axis=1)
new_df.head()
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

,dt,switch,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,packetins,pktperflow,...,10.0.0.17,10.0.0.18,10.0.0.2,10.0.0.3,10.0.0.4,10.0.0.5,10.0.0.6,10.0.0.7,10.0.0.8,10.0.0.9
0,11425,1,45304,48294064,100,716000000,1.010000e+11,3,1943,13535,...,0,0,0,0,0,0,0,0,1,0
1,11605,1,126395,134737070,280,734000000,2.810000e+11,2,1943,13531,...,0,0,0,0,0,0,0,0,1,0
2,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0
3,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0
4,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0

In [12]:
x=df.drop(['label'],axis=1)
x

,dt,switch,pktcount,bytecount,dur,dur_nsec,tot_dur,flows,packetins,pktperflow,...,10.0.0.17,10.0.0.18,10.0.0.2,10.0.0.3,10.0.0.4,10.0.0.5,10.0.0.6,10.0.0.7,10.0.0.8,10.0.0.9
0,11425,1,45304,48294064,100,716000000,1.010000e+11,3,1943,13535,...,0,0,0,0,0,0,0,0,1,0
1,11605,1,126395,134737070,280,734000000,2.810000e+11,2,1943,13531,...,0,0,0,0,0,0,0,0,1,0
2,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0
3,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0
4,11425,1,90333,96294978,200,744000000,2.010000e+11,3,1943,13534,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104340,5262,3,79,7742,81,842000000,8.184200e+10,5,10,29,...,0,0,0,0,0,0,0,1,0,0
104341,5262,3,79,7742,81,842000000,8.184200e+10,5,10,29,...,0,0,0,0,0,0,0,1,0,0
104342,5262,3,31,3038,31,805000000,3.180500e+10,5,10,30,...,0,0,0,0,0,1,0,0,0,0
104343,5262,3,31,3038,31,805000000,3.180500e+10,5,10,30,...,0,0,0,0,0,1,0,0,0,0
104344,5262,3,31,3038,31,805000000,3.180500e+10,5,10,30,...,0,0,0,0,0,1,0,0,0,0

In [14]:
y=df['label']
y

0         0
1         0
2         0
3         0
4         0
         ..
104340    0
104341    0
104342    0
104343    0
104344    0
Name: label, Length: 104345, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.3,random_state=1)

In [16]:
#Performing Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [19]:
#Initialising ANN
ann = tf.keras.models.Sequential()

In [22]:
#Adding First Hidden Layer
ann.add(tf.keras.layers.Dense(units=40,activation="relu"))

In [23]:
#Adding Second Hidden Layer
ann.add(tf.keras.layers.Dense(units=20,activation="relu"))

In [24]:
#Adding Output Layer
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [25]:
#Compiling ANN
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [27]:
#Fitting ANN
ann.fit(xtrain,ytrain,batch_size=32,epochs = 100)

Epoch 1/100
2283/2283 [==============================] - 10s 3ms/step - loss: 0.2014 - accuracy: 0.9152
Epoch 2/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0700 - accuracy: 0.9744
Epoch 3/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0578 - accuracy: 0.9793
Epoch 4/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0535 - accuracy: 0.9806
Epoch 5/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0510 - accuracy: 0.9812
Epoch 6/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0489 - accuracy: 0.9822
Epoch 7/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0471 - accuracy: 0.9819
Epoch 8/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0455 - accuracy: 0.9833
Epoch 9/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0443 - accuracy: 0.9835
Epoch 10/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0432 - accuracy: 0.9838
Epoch 11/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0414 - accuracy: 0.9841
Epoch 12/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0404 - accuracy: 0.9847
Epoch 13/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0384 - accuracy: 0.9857
Epoch 14/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0375 - accuracy: 0.9862
Epoch 15/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0364 - accuracy: 0.9869
Epoch 16/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0360 - accuracy: 0.9864
Epoch 17/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0347 - accuracy: 0.9872
Epoch 18/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0350 - accuracy: 0.9871
Epoch 19/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0334 - accuracy: 0.9879
Epoch 20/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0328 - accuracy: 0.9879
Epoch 21/100
2283/2283 [==============================] - 6s 3ms/step - loss: 0.0325 - accuracy: 0.9881
Epoch 22/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0325 - accuracy: 0.9882
Epoch 23/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0319 - accuracy: 0.9884
Epoch 24/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0309 - accuracy: 0.9883
Epoch 25/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0317 - accuracy: 0.9880
Epoch 26/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0298 - accuracy: 0.9889
Epoch 27/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0303 - accuracy: 0.9887
Epoch 28/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0286 - accuracy: 0.9892
Epoch 29/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0278 - accuracy: 0.9893
Epoch 30/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0274 - accuracy: 0.9895
Epoch 31/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0265 - accuracy: 0.9899
Epoch 32/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0258 - accuracy: 0.9900
Epoch 33/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0258 - accuracy: 0.9903
Epoch 34/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0244 - accuracy: 0.9907
Epoch 35/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0247 - accuracy: 0.9903
Epoch 36/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0248 - accuracy: 0.9904
Epoch 37/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0238 - accuracy: 0.9908
Epoch 38/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0238 - accuracy: 0.9909
Epoch 39/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0235 - accuracy: 0.9912
Epoch 40/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0229 - accuracy: 0.9908
Epoch 41/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0240 - accuracy: 0.9908
Epoch 42/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0232 - accuracy: 0.9909
Epoch 43/100
2283/2283 [==============================] - 9s 4ms/step - loss: 0.0232 - accuracy: 0.9915
Epoch 44/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0223 - accuracy: 0.9912
Epoch 45/100
2283/2283 [==============================] - 6s 3ms/step - loss: 0.0227 - accuracy: 0.9911
Epoch 46/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0222 - accuracy: 0.9915
Epoch 47/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0225 - accuracy: 0.9912
Epoch 48/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0220 - accuracy: 0.9912
Epoch 49/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0221 - accuracy: 0.9917
Epoch 50/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0218 - accuracy: 0.9915
Epoch 51/100
2283/2283 [==============================] - 6s 3ms/step - loss: 0.0226 - accuracy: 0.9912
Epoch 52/100
2283/2283 [==============================] - 7s 3ms/step - loss: 0.0212 - accuracy: 0.9914
Epoch 53/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0214 - accuracy: 0.9917
Epoch 54/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0216 - accuracy: 0.9915
Epoch 55/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0213 - accuracy: 0.9918
Epoch 56/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0207 - accuracy: 0.9918
Epoch 57/100
2283/2283 [==============================] - 6s 3ms/step - loss: 0.0208 - accuracy: 0.9918
Epoch 58/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0219 - accuracy: 0.9914
Epoch 59/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0203 - accuracy: 0.9921
Epoch 60/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0210 - accuracy: 0.9917
Epoch 61/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0196 - accuracy: 0.9925
Epoch 62/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0219 - accuracy: 0.9916
Epoch 63/100
2283/2283 [==============================] - 6s 3ms/step - loss: 0.0203 - accuracy: 0.9919
Epoch 64/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0203 - accuracy: 0.9922
Epoch 65/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0206 - accuracy: 0.9917
Epoch 66/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0211 - accuracy: 0.9920
Epoch 67/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0197 - accuracy: 0.9920
Epoch 68/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0192 - accuracy: 0.9920
Epoch 69/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0197 - accuracy: 0.9923
Epoch 70/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0197 - accuracy: 0.9923
Epoch 71/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0189 - accuracy: 0.9923
Epoch 72/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0201 - accuracy: 0.9923
Epoch 73/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0207 - accuracy: 0.9921
Epoch 74/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0193 - accuracy: 0.9919
Epoch 75/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0199 - accuracy: 0.9923
Epoch 76/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0188 - accuracy: 0.9926
Epoch 77/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0188 - accuracy: 0.9926
Epoch 78/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0195 - accuracy: 0.9926
Epoch 79/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0187 - accuracy: 0.9924
Epoch 80/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0187 - accuracy: 0.9926
Epoch 81/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0191 - accuracy: 0.9926
Epoch 82/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0191 - accuracy: 0.9923
Epoch 83/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0184 - accuracy: 0.9929
Epoch 84/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0186 - accuracy: 0.9926
Epoch 85/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0177 - accuracy: 0.9930
Epoch 86/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0196 - accuracy: 0.9930
Epoch 87/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0179 - accuracy: 0.9930
Epoch 88/100
2283/2283 [==============================] - 6s 2ms/step - loss: 0.0185 - accuracy: 0.9922
Epoch 89/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0186 - accuracy: 0.9926
Epoch 90/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0177 - accuracy: 0.9932
Epoch 91/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0185 - accuracy: 0.9929
Epoch 92/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0177 - accuracy: 0.9927
Epoch 93/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0180 - accuracy: 0.9930
Epoch 94/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0176 - accuracy: 0.9931
Epoch 95/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0175 - accuracy: 0.9932
Epoch 96/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0178 - accuracy: 0.9932
Epoch 97/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0178 - accuracy: 0.9929
Epoch 98/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0179 - accuracy: 0.9929
Epoch 99/100
2283/2283 [==============================] - 4s 2ms/step - loss: 0.0185 - accuracy: 0.9929
Epoch 100/100
2283/2283 [==============================] - 5s 2ms/step - loss: 0.0173 - accuracy: 0.9934

In [31]:
y_pred = ann.predict(xtest)
y_pred = (y_pred > 0.5)

979/979 [==============================] - 2s 2ms/step

In [32]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [ True],
       [False]])

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(ytest, y_pred)
print(cm)
accuracy_score(ytest,y_pred)

[[19010    96]
 [  104 12094]]

0.993611040122668